
<div class="wrapper">
    <form action="" id="wizard">
        <!-- SECTION 1 -->
        <h4></h4>
        <section>
            <div class="inner">
                <a href="#" class="avartar">
                    <img src="images/avartar.png" alt="">
                </a>
                <div class="form-row">
                    <div class="form-holder">
                        <input type="text" class="form-control" placeholder="ID">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-holder">
                        <input type="text" class="form-control" placeholder="Cantidad">
                        <i class="zmdi zmdi-email small"></i>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-holder">
                        <input type="text" class="form-control" placeholder="Fecha Caduciad">
                        <i class="zmdi zmdi-smartphone-android"></i>
                    </div>
                </div>
            </div>
        </section>       
    </form>
</div>

<script src="js/jquery-3.3.1.min.js"></script>

<!-- JQUERY STEP -->
<script src="js/jquery.steps.js"></script>

<!-- DATE-PICKER -->
<script src="vendor/date-picker/js/datepicker.js"></script>
<script src="vendor/date-picker/js/datepicker.en.js"></script>

<script src="js/main.js"></script>

<!-- Template created and distributed by Colorlib -->

